@import "style";

.hero-unit {
  .box;
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  h1{
    margin-bottom: 0;
    font-size: 3em;
    line-height: 1;
    color: inherit;
    letter-spacing: -1px;
  }
}

.row-fluid>div {
  .box;
  margin: 20px 0;
  padding: 10px;
  .rounded;
  h3 {
    .center
  }
}