@import "style";
@import "components/layout";

.hero-unit {
  .box;
  padding: 60px;
  margin-bottom: 30px;
  font-size: 14pt;
  font-weight: 200;
  line-height: 30px;
  h1 {
    margin-bottom: 0;
    font-size: 3em;
    line-height: 1;
    color: inherit;
    letter-spacing: -1px;
  }
  @media (max-width:@small) {
    padding: 10px;
    font-size: 12pt;
    h1 {
      font-size: 30pt;
    }

    h2 {
      font-size: 20pt;
    }
  }
}

.row-fluid>div {
  .box;
  margin: 20px 0;
  padding: 10px;
  .rounded;
  h3 {
    .center
  }
}

@media (max-width:@medium) {
  .row-fluid>div>br {
    display: none;
  }
}

@media (max-width:@small) {
  .extra {
    display: none;
  }
}
