@import "style";

p {
  .box;
  margin: auto;
  margin-top: 20px;
  width: 90%;
  font-size: 13pt;
  font-weight: 200;
  line-height: 30px;
  padding: 10px;
  @media (min-width:850px) {
    width: 95%;
  }
}

.img {
  .box;
  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  img {
    width: 100%;
    border: rgba(164, 164, 164, 0.50) solid 1px;
  }
}

h3 {
  .box;
  padding: 20px;
}