@import "util/util";
@import "components/menu";

@text-color: #333333;

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("/img/water.png") repeat;
  font-size: 14px;
  line-height: 20px;
  color: @text-color;
}

.box {
  .shadow;
  background-color: #eeeeee;
  .rounded(6px);
}

.container {
  width: 75%;
  margin: 75px auto 50px;
  .transition(width 1s);

  @media (max-width: @medium) {
    width: 90%;
  }
}

img {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 32px;
}

h1,
h2,
h3 {
  line-height: 40px;
}

p {
  margin: 0 0 10px;
}

.base() {
  .box;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.full {
  width: 100%;
}
