@import "util";
@import "menu";
@import "login";
@import "input";

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("../img/water.png") repeat;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.container {
  width: 75%;
  margin: 40px auto auto;
  padding: 20px;
  .transition(width 1s);
  @media (max-width: 850px){
    width: 90%;
  }
}

.row-fluid>div,.hero-unit{
  .shadow;
}

.row-fluid>div {
  margin: 20px 0;
  padding: 10px;
  background: #eeeeee;
  .rounded;
  h3 {
    .center
  }
}

.center {
  text-align: center;
}

@media (max-width: 850px) {
  .mid-menu {
    display: none !important;
  }

  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.row-fluid [class*="span"]:last-child {
  margin-left: 0;
}

.row-fluid [class*="span"] {
  display: block;
  min-height: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  //  display:table-cell;
  //  vertical-align:middle;

}

.row-fluid {
  //  display:table;
  width: 100%;
  *zoom: 1;

}

.span6{
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.span4{
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h3 {
  font-size: 24.5px;
}
h2 {
  font-size: 31.5px;
}
h1,
h2,
h3 {
  line-height: 40px;
}
p {
  margin: 0 0 10px;
}


.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}

.row-fluid:after {
  clear: both;
}

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eeeeee;
  .rounded(6px);
  h1{
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    color: inherit;
    letter-spacing: -1px;
  }
}

label{
  margin-bottom: 5px;
}