<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Ben Gurion</display-name>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>servlets.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>servlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/password</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>servlets.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>servlets.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>servlets.AddQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/addQuestion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditQuestion</servlet-name>
        <servlet-class>servlets.EditQuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditQuestion</servlet-name>
        <url-pattern>/editQuestion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AnswerSubmission</servlet-name>
        <servlet-class>servlets.AnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnswerSubmission</servlet-name>
        <url-pattern>/answer</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetAnswers</servlet-name>
        <servlet-class>servlets.ResetAnswersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetAnswers</servlet-name>
        <url-pattern>/questions/reset</url-pattern>
    </servlet-mapping>

</web-app>
