body {
    background: url("../img/water.png") repeat;
}

.desc {
    margin: 20px 0;
    padding: 10px;
    background: #eeeeee;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;

}

.desc h3, .center {
    text-align: center;
}

.line2{
    height: 270px;
}

.container {
    width: 75%;
    margin: 40px auto auto;
    padding: 20px;
}

.nav {
    height: 40px;
    width: 100%;
    background-image: linear-gradient(to bottom, #0088cc, #0055cc);
    top: 0;
    position: fixed;
    margin: 0;
    border-bottom: black solid 1px;
}

.nav a{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
    text-decoration: none;
    height: 20px;
    color: white;
    font-weight: 200;
    font-size: 18px;
}

.nav .right a {
    float: right;
    border-left: rgba(0, 0, 0, 0.7) solid 1px;
}

.nav a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.nav .home {
    padding-top: 8px;
    height: 22px;
}

.nav .left a {
    float: left;
    border-right: rgba(0, 0, 0, 0.7) solid 1px;
}
.nav .space{
    width: 35px;
}
.nav .space:hover{
    background-color: rgba(0,0,0,0.1);
}

.hero-unit {
    padding: 40px 50px 50px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}